//********************************************************
// hub.18F.gsa.gov CUSTOM SASS
//********************************************************

@import "_search";

// Site-wide media queries
//********************************************************
.news {
  @include media($tiny) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

// Site-wide styles
//********************************************************
ul {
  list-style: disc inside none;

  li {
    margin-bottom: 0.25em;

    ul {
      li {
        padding-left: 2em;
      }
    }
  }
}

ol {
  list-style-type: decimal;
  li {
    ol {
      list-style-type: lower-alpha;
      li {
        margin-left: 2em;
        padding-right: 2em;
      }
    }
  }
}

.nav {
  float: left;
  width: 100%;
  height: 66px;
  padding-top: 10px;
  margin-bottom: 25px;
  background: $blue;
  ul {
    width: 100%;
    list-style: none;
    position: absolute;
    float: left;
  }
  li {
    display: inline-block;
    font-weight: 500;
  }
  a {
    color: white;
    text-decoration: none;
    padding: 28px 15px 5px 15px;
    &:hover, &:focus {
      background: $dark-gray;
    }
    img {
      width: 45px;
    }
  }
  a:first-of-type {
    &:hover, &:focus {
      background: lighten($blue, 10%);
    }
  }
}

.nav-break {
  margin-left: 120px;
}
.sr-only { //for screen readers
  position: absolute;
  overflow: hidden;
  width:1px;
  height:1px;
  margin: -1px;
  padding:0;
}


div.skip-nav a {
  position: absolute;
  left: -10000;
  top: 0;
  width: 1px;
  height: auto;
  overflow: hidden;
  &:focus {
    position: absolute;
    top: 5px;
    left: 5px;
    width: auto;
    height: auto;
    z-index: 999999;
    padding-left: 2px;
    padding-right: 2px;
    overflow: visible;
  }
}
.skip-nav-anchor:focus{
  outline:none;
}

// News Template
//********************************************************
.news {
  margin: 1em 2em 1em 0em;
  text-align: left;
}

.home-block {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 1em 2em 1em 0em;
}

// Nav bar
//********************************************************
.nav-section {
  margin-bottom: 1.5em;
}


// Search
//********************************************************
.hub-search {
  padding-bottom: 2em;
  width: 400px;
  input[type="text"] {
    border-radius: 0;
    font-size: 14px;
    box-shadow: none;
    color: #777678;
    border-color: #bbb;
  }
}

// Site-wide
//********************************************************
a:hover,
a:focus {
  text-decoration: none;
}
a:focus img{
  border: 2px solid red;
}

.hub-page-section {
  margin-top: 50px;
  h1 {
    @extend .h3;
  }
}

.hub-page-subnav {
float: left;
margin-bottom: 20px;
  li {
    display: inline-block;
    padding: 10px;
    margin-right: 3px;
    border: 1px solid #bbb;
    &:hover, &:focus {
      background-color: #eee;
    }
  }
  a {
    &:focus li {
      background-color: #eee;
    }
  }
}



.clear { //forgive me this trespass, for it is late and I have no time
  clear:left;
}


.index-entry {
  margin-top: 1em;
  margin-bottom: 1em;
  h1 {
    @extend .h5;
  }
}

.edit-info {
  margin-top: 40px;
  margin-bottom: 1em;
}

.QandA {
  h3 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  ul {
    padding-left: 20px;
    li {
      list-style-type: disc;
      list-style-position: outside;
      ul li {
        padding-left: 0;
      }
    }
    > li {
      margin-bottom: 20px;
      > ul li {
        margin-bottom: 5px;
        &:first-of-type {
          margin-top: 5px;
        }
      }
    }
  }
}
//Placeholder styles
::-webkit-input-placeholder {
   color: #777678;
}

:-moz-placeholder {
   color: #777678;
}

::-moz-placeholder {
   color: #777678;
}

:-ms-input-placeholder {
   color: #777678;
}

// Snippets
//********************************************************
.snippets-no-md {
  white-space: pre-wrap;
}

.snippets {
  h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

// Team Member
//********************************************************
.team-members {
  display: table;
}

.team-member {
  display: table-row;
}

.team-member-cell {
  display: table-cell;
  vertical-align: top;
}

.team-member-thumb {
  width: 50px;
  height: auto;
  margin-right: 5px;
}

.auth-include {
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  a {
    text-decoration: none;
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  span {
    margin-right: 5px;
  }
  img {
    vertical-align: middle;
    width: 50px;
    height: auto;
    margin-right: 5px;
  }
}

// Bare Layout
//********************************************************

.bare-content {
  h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  h1:first-letter {
    text-transform: uppercase;
  }
}

.stage-bug {
  width: 100%;
	display: block;
  background: #f3f3f3;
  color: #333;
  border: 1px solid #d9d9d9;
  border-top: none;
  text-align: center;
  padding: .5em 0;
}
