## Google Auth Proxy Config File
## https://github.com/bitly/google_auth_proxy

## <addr>:<port> to listen on for HTTP clients
http_address = "127.0.0.1:4180"

## the OAuth Redirect URL.
redirect_url = "https://auth.18f.gov/oauth2/callback"

## the http url(s) of the upstream endpoint. If multiple, routing is based on path
upstreams = [
    "http://127.0.0.1:8080/"
]

## pass HTTP Basic Auth, X-Forwarded-User and X-Forwarded-Email information to upstream
pass_basic_auth = true

## Google Apps Domains to allow authentication for
#google_apps_domains = [
#    "gsa.gov"
#]


## The Google OAuth Client ID, Secret
# mbland: I've redacted these values from the repository. On the Hub, these
# are set to the app keys from my MyUSA account.
client_id = ""
client_secret = ""

## Authenticated Email Addresses File (one email per line)
authenticated_emails_file = "/home/ubuntu/hub/_site/auth/hub-authenticated-emails.txt"

## Htpasswd File (optional)
## Additionally authenticate against a htpasswd file. Entries must be created with "htpasswd -s" for SHA encryption
## enabling exposes a username/login signin form
# htpasswd_file = ""


## Cookie Settings
## Secret - the seed string for secure cookies
## Domain - optional cookie domain to force cookies to (ie: .yourcompany.com)
## Expire - expire timeframe for cookie
# This is redacted from the repository, but set on the Hub.
cookie_secret = ""
cookie_domain = ".18f.gov"
cookie_expire = "168h"
cookie_https_only = true
provider = "myusa"
pass_access_token = true
