<footer class="footer">
  <div class="container">
    <ul>
      <li>
        <a href="{{ site.baseurl }}/team/">Team</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/projects/">Projects</a>
      </li>
      <li>
        <a href="https://pages.18f.gov/guides/">Guides</a>
      </li>
      <li>
        <a href="https://handbook.18f.gov/">How to...</a>
      </li>
      <li>
        <a href="https://github.com/18F/onboarding-documents/blob/master/Checklists/new-hire-checklist.md">Onboarding guide</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/about/">About the Hub</a>
      </li>
    </ul>

    <img src="{{ site.baseurl }}/assets/images/logo-gsa.png" alt="GSA logo"/>
  </div>
</footer>
