<nav class="nav">
  <ul>
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/18f-logo-small.png" alt="18F logo">
    </a>
    <a href="{{ site.baseurl }}/team"><li>Team</li></a>
    <a href="{{ site.baseurl }}/projects"><li>Projects</li></a>
    {% unless site.public %}
    <a href="{{ site.baseurl }}/guidelines"><li>Guidelines</li></a>
    <a href="{{ site.baseurl }}/structure"><li>18F Structure</li></a>
    <a href="{{ site.baseurl }}/how-to"><li>How to...</li></a>
    <a href="{{ site.baseurl }}/tips"><li>Tips</li></a>
    {% endunless %}
    <a href="{{ site.baseurl }}/about" class="nav-break"><li>About This Site</li></a>
    {% unless site.public %}
    <a href="{{ site.baseurl }}/n00b"><li>New to 18F?</li></a>
    {% endunless %}
  </ul>
</nav>
