<nav class="nav">
  <ul>
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/18f-logo-small.png" alt="18F logo">
    </a>
    <li>
      <a href="{{ site.baseurl }}/onboarding">New to 18F?</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/how-to">How to...</a>
    </li>
    {% unless site.public %}
    <li>
      <a href="{{ site.baseurl }}/structure">18F Structure</a>
    </li>
    {% endunless %}
    <li>
      <a href="{{ site.baseurl }}/team">Team</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/projects">Projects</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/guidelines">Guidelines</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/about">About the Hub</a>
    </li>
  </ul>
</nav>
