<div class="nav-section">
  <a href="{{ site.baseurl }}/about">About</a><br/>
  <a href="{{ site.baseurl }}/#updates">Updates</a><br/>
  <a href="{{ site.baseurl }}/docs">Docs</a>{% unless site.public %}<br/>
  <a href="{{ site.baseurl }}/private/docs">Private Docs</a>{% endunless %}
</div>
<div class="nav-section">
  <strong>Team</strong><br/>{% if site.data.team %}
  <a href="{{ site.baseurl }}/team">Members</a><br/>{% endif %}{% if site.data.locations %}
  <a href="{{ site.baseurl }}/locations">Locations</a><br/>{% endif %}{% if site.data.projects %}
  <a href="{{ site.baseurl }}/projects">Projects</a><br/>{% endif %}{% if site.data.departments %}
  <a href="{{ site.baseurl }}/departments">Departments</a><br/>{% endif %}{% if site.data.working_groups %}
  <a href="{{ site.baseurl }}/wg">Working Groups</a><br/>{% endif %}{% if site.data.snippets %}
  <a href="{{ site.baseurl }}/snippets">Snippets</a>{% endif %}
</div>
{% if site.data.skills %}
<div class="nav-section">
  <strong>Skills</strong><br/>{% if site.data.skills.Languages %}
  <a href="{{ site.baseurl }}/languages">Languages</a><br/>{% endif %}{% if site.data.skills.Technologies %}
  <a href="{{ site.baseurl }}/technologies">Technologies</a><br/>{% endif %}{% if site.data.skills.Specialties %}
  <a href="{{ site.baseurl }}/specialties">Specialties</a>{% unless forloop.last %}<br/>{% endunless %}{% endif %}
</div>
{% endif %}
{% for section in site.data.nav_links %}<div class="nav-section">
  <strong>{{ section.name }}</strong><br/>{% for doc in section.links %}
  <a href="{{ doc.url }}">{{ doc.text }}</a>{% unless forloop.last %}<br/>{% endunless %}{% endfor %}
</div>{% endfor %}
