<div ng-controller="SearchController" class="search-container" ng-strict-di>
{% raw %}
  <div class="search-interface skip-nav-anchor" id="anchor" tabindex="-1">
    <label for="search1" class="sr-only">Search - click or press '/'</label>
    <live-search id="search1" type="text"
      live-search-callback="searchCallback"
      live-search-item-template="<a href='{{result.page.url}}'>{{result.page.title || result.page.url}}</a>"
      live-search-select="displayTitle"
      live-search-max-result-size="20"
      ng-model="searchText"
      ng-keydown="searchKeyDown($event)"
      placeholder="Search – click or press '/'"
      aria-autocomplete="list"
      aria-activedescendant="search_result_0"
      aria-haspopup="true"
    ></live-search>
  </div>
{% endraw %}
  <div ng-hide="searchText"></div>
</div>
