<header class="site-header">
  <div class="wrapper">
    <h1 class="logo"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/logo/18F-Logo-M.png" alt="18F logo"> Hub</a></h1>    
    <form>
      <div class="field">
        <label>
          <span class="label-text">Query</span>
          <input type="search">         
        </label>
      </div>
      <button>Search</button>
    </form>

    <div class="signed-in">
      <h1>Signed in as</h1>
      <img src="{{site.baseurl}}/images/andrew_maier.jpg" alt="Andrew Maier">
      <span>Andrew Maier</span>
      <a href="#">Sign out</a>
    </div>
  </div>
</header>
