$blue: #1188ff;
$open-sans: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$sans-serif: $open-sans;
$base-font-family: $sans-serif;

.fours {
	background-color: $blue;
	color: white;
	padding-top: 130px;
	padding-bottom: 130px;
	margin-bottom: 30px;
  a {
    color: white;
  }
}
.fours-content {
	text-align: center;
	h1 {
		font-family: $base-font-family;
		font-weight: 500;
		font-size: 9em;
	}
	h2 {
		font-size: 1.4em;
		padding-top: 10px;
		line-height: 1.3em;
	}
	p {
		margin: 0;
		font-size: 0.9em;
	}
	p+p {
		margin-bottom: 100px;
	}
}
