<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="container" ng-app="MyApp">
      <div id="logo">
        <img src="logo.png">
      </div>
      <div ng-controller='MyController'>
        <live-search id="search1" type="text"
          live-search-callback="mySearchCallback"
          live-search-item-template="{{result.city}}<strong>{{result.state}}</strong><b>{{result.country}}</b>"
          live-search-select="fullName"
          ng-model="mySearch" ></live-search>
      </div>
    </div>
    <script type="text/javascript" src="../test/lib/angular/angular.js"></script>
    <script type="text/javascript" src="../liveSearch.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
