body
{
	font-family: sans-serif;
	font-size: 12pt;
}

.container {
	position: relative;
	margin: 10%;
	display: block;
	text-align: center;
}

input
{
	width: 50%;
	top: 25%;
	height: 30px;
}

#live-search {
	position: absolute;
	top: 30%;
	left: 25%;
	right: 25%;
	text-align: center;
	vertical-align: middle;
}

/*Live Search styles start*/
ul.searchresultspopup {
	border: #a4bed4 1px solid;
	margin-top: 0px;
	padding: 0px;
	z-index: 99999!important;
	position: fixed;
	background-color: white;
	/*max-height:200px;*/
	border-collapse: separate;
	overflow-y: hidden;
}

ul.searchresultspopup > li {
	cursor: pointer;
	padding-left: 1px;
	text-align: left;
	list-style: none;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-transform: lowercase;
}

ul.searchresultspopup li.selected, ul.searchresultspopup li:hover {
	background-color: #ededed;
}

ul.searchresultspopup b {
	color: blue;
}

ul.searchresultspopup strong {
	color: green;
}
/*Live Search styles end*/