---
permalink: /
title: Home
---
<h1>{{ site.title }}</h1>
<p>{{ site.description }}</p>

<section>

	<h2 id="updates">Updates</h2>

	<div class="news">
		{% for post in site.posts limit:1 %}
			<h3>{{ post.title }}</h3>
			<p>{{ post.content }}</p>
		{% endfor %}
	</div>

	{% if site.data.project_status %}
		<div class="home-block">
			<h3>Project status</h3>
			<ul>
				<li><a href="{{site.data.project_status.latest_url}}">Latest: {{site.data.project_status.latest_date}} <span class="sr-only">project status</span></a></li>
				<li><a href="{{site.data.project_status.all_updates_url}}">Read all<span class="sr-only"> project statuses</span></a></li>
			</ul>
		</div>
	{% endif %}

	{% if site.data.snippets %}
		<div class="home-block">
			<h3>People status (snippets)</h3>
			<ul>
				<li><a href="{{ site.baseurl }}/snippets/{{ site.data.snippets_latest }}">Latest: {{ site.data.snippets_latest | hyphenate_yyyymmdd }}<span class="sr-only"> snippet</span></a></li>
				<li><a href="{{ site.baseurl }}/snippets/">Read all<span class='sr-only'> snippets</span></a></li>
			</ul>
		</div>
	{% endif %}
	
	<!-- {% include twitter_favorites.html %} -->

</section>
