---
permalink: locations/
scripts:
- /assets/js/vendor/d3.v3.min.js
- /assets/js/vendor/queue.v1.min.js
- /assets/js/vendor/topojson.v1.min.js
- /assets/js/map.js
stylesheets:
- /assets/css/map.css
---
<h1>Team By Location</h1>

<figure id="team-map"></figure>

{% for location in site.data.locations %}
<div id="{{ location.code }}" class="index-entry">
  <h2>&lt; {{ location.code }} /&gt;</h2>
  {% if location.projects %}<p>{{ location.projects.size }} projects:
  {% for i in location.projects %}<a href="{{ site.baseurl }}/projects/{{ i.name | canonicalize }}">{{ i.project }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
  </p>{% endif %}

  {% if location.working_groups %}<p>{{ location.working_groups.size }} working_groups:
  {% for i in location.working_groups %}<a href="{{ site.baseurl }}/wg/{{ i.name | canonicalize }}">{{ i.name }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
  </p>{% endif %}

  {% assign members = location.team %}
  <p>{{ members.size }} members:</p>
  {% include team_members.html %}
</div>
{% endfor %}
