---
permalink: locations/
scripts:
- /assets/js/vendor/d3.v3.min.js
- /assets/js/vendor/queue.v1.min.js
- /assets/js/vendor/topojson.v1.min.js
- /assets/js/vendor/d3-tip.min.js
- /assets/js/map.js
stylesheets:
- /assets/css/map.css
---
<h1>Team By Location</h1>

<figure id="team-map"></figure>

{% for location in site.data.locations %}
<div id="{{ location[0] }}" class="index-entry">
  <h2>&lt; {{ location[0] }} /&gt;</h2>
  {% assign members = location[1] %}
  <p>{{ members.size }} member{% if members.size != 1 %}s{% endif %}:</p>
  {% include team_members.html %}
</div>
{% endfor %}
