---
layout: bare
permalink: /skills/
scripts:
  - /assets/js/vendor/underscore.min.js
  - /assets/js/team_skills.js
---
<h1>Skills</h1>

<script type="text/template" class="template-skills">
  <% _(skills).each(function(skill) { %>
    <p><strong>
      <a href="{{ site.baseurl }}/skills/?<%= encodeURIComponent(skill) %>"><%= skill %></a>
    </strong></p>
  <% }); %>
</script>

<script>
  //MEMBERS = {{ site.data.team | map: "email" | jsonify }};
  MEMBERS = [
    {% for member in site.data.team %} {
      email: '{{ member.email }}'
      {% if member.languages %}    , languages: {{ member.languages | jsonify }}       {% endif %}
      {% if member.technologies %} , technologies: {{ member.technologies | jsonify }} {% endif %}
      {% if member.specialties %}  , specialties: {{ member.specialties | jsonify }}  {% endif %}
    } {% unless forloop.last %},{% endunless%} {% endfor %}
  ];

  // Merge local data with team member's Midas profile
  MIDAS = {
    url: '{{ site.midas_url }}',
    token: '{{ site.midas_token }}'
  };

</script>
