---
permalink: snippets/
---
<h1>Snippets</h1>

<div>
<strong><a href="{{ site.baseurl }}/snippets/guidelines">Guidelines for Writing Snippets</a></strong>
</div>

<div>
<h2>By Date</h2>
{% for s in site.data.snippets reversed %}{% assign timestamp = s[0] %}{% assign snippets = s[1] %}
<strong><a href="{{ site.baseurl }}/snippets/{{ timestamp }}">{{ timestamp | hyphenate_yyyymmdd }}</a></strong>: {{ snippets | size }} snippets<br/>
{% endfor %}
</div>

<div>
<h2>By Team Member</h2>
{% for m in site.data.snippets_team_members %}
<a href="{{ site.baseurl }}/snippets/{{ m.name }}">{{ m.full_name }}</a><br/>
{% endfor %}
</div>
