<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">
  <div class="hub-header">
    <div class="stage-bug">
      <span>This site is in alpha. <a href="https://18f.gsa.gov/dashboard/stages/">Learn more here.</a></span>
    </div>
{% unless site.public %}
    <!--# include virtual="{{ site.baseurl }}/auth/$authenticated_user/index.html" -->
{% endunless %}
  </div>

<section class="container bare">
  <div class="bare-logo" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <a href="{{ site.baseurl }}/">
      <i class="icon-18f-logo"></i>
    </a>
    {% include nav.html %}
  </div>

  <div class="bare-content" role="main" itemscope itemprop="mainContentOfPage">
    {{ content }}{% include edit_link.html %}
  </div>
</section>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>
