<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">
<section class="container bare">

<!--# include virtual="{{ site.baseurl }}/auth/$REMOTE_USER/index.html" -->

  <div class="bare-logo" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <a href="{{ site.baseurl }}/">
      <i class="icon-18f-logo"></i>
    </a>
    {% include nav.html %}
  </div>

  <div class="bare-content" role="main" itemscope itemprop="mainContentOfPage">
    {{ content }}
  </div>

</section>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>
