---
layout: bare
---
<div>{% assign member = page.team_member %}
<img class="img-circle team-img bio-clip" src="{{ site.baseurl }}/{{ member.image }}" alt="Photo of {{ member.full_name }}">
<h1>{{ member.full_name }}</h1>
<p>{% if member.email %}email: <a href="mailto:{{ member.email }}">{{ member.email }}</a><br/>{% endif %}
{% if member.github %}GitHub: <a href="https://github.com/{{ member.github }}/">{{ member.github }}</a><br/>{% endif %}
{% if member.slack %}slack: <a href="https://18f.slack.com/team/{{ member.slack }}">{{ member.slack }}</a><br/>{% endif %}
{% if member.location %}location: <a href="{{ site.baseurl }}/locations/{{ member.location }}">{{ member.location }}</a><br/>{% endif %}
{% if member.resume %}<a href="{{ member.resume }}">18F Résumé</a><br/>{% endif %}
{% if member.okrs %}<a href="{{ member.okrs }}">Objectives and Key Results</a><br/>{% endif %}
</p>
{% if member.projects %}
<h2>Projects</h2>{% for proj in member.projects %}
<a href="{{ site.baseurl }}/projects/{{ proj.name | canonicalize }}">{{ proj.project }}</a><br/>{% endfor %}
{% endif %}
{% if member.working_groups %}
<h2>Working Groups</h2>
<p>{% for wg in member.working_groups %}
<a href="{{ site.baseurl }}/wg/{{ wg.name | canonicalize }}">{{ wg.name }}</a><br/>
{% endfor %}</p>
{% endif %}
{% if member.languages %}
<h2>Languages</h2>{% for lang in member.languages %}
<a href="{{ site.baseurl }}/languages/{{ lang | downcase | replace:' ','-' }}">{{ lang }}</a><br/>{% endfor %}
{% endif %}
{% if member.technologies %}
<h2>Technologies</h2>{% for tech in member.technologies %}
<a href="{{ site.baseurl }}/technologies/{{ tech | downcase | replace:' ','-' }}">{{ tech }}</a><br/>{% endfor %}
{% endif %}
{% if member.specialties %}
<h2>Specialties</h2>{% for spec in member.specialties %}
<a href="{{ site.baseurl }}/specialties/{{ spec | downcase | replace:' ','-' }}">{{ spec }}</a><br/>{% endfor %}
{% endif %}
{% if member.snippets %}
<h2>Snippets</h2>{% assign latest_snippet = member.snippets.last %}
<p><strong><a href="{{ site.baseurl }}/snippets/{{ member.name }}">All snippets</a></strong><br/>
<strong>Latest Snippet: {{ latest_snippet.timestamp }}</strong>
</p>
{% assign s = latest_snippet %}{% include snippet.html %}{% endif %}
</div>
