---
layout: bare
---

{% assign wg = page.working_group %}
<div>
	<h1>{{ wg.name }}</h1>

	<ul>
		{% if wg.slack %}
			<li>Slack: <a href="https://18f.slack.com/messages/#{{ wg.slack }}">#{{ wg.slack }}</a></li>
		{% endif %}
		{% if wg.agenda %}
			<li><a href="{{ wg.agenda }}">Agenda</a></li>
		{% endif %}
		{% if wg.wiki %}
			<li><a href="{{ wg.wiki }}">Wiki</a></li>
		{% endif %}
		{% if wg.drive %}
			<li><a href="{{ wg.drive }}">Google Drive</a></li>
		{% endif %}
	</ul>

	<section class="hub-page-section">
		{% if wg.leads %}
			<h1>Leads</h1>
			<ul>
				{% for l in wg.leads %}
					<li><a href="{{ site.baseurl }}/team/{{l.name }}">{{ l.full_name }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	</section>

	<section class="hub-page-section">
		{% if wg.members %}
			<h1>Members</h1>
			<ul>
				{% for m in wg.members %}
					<li><a href="{{ site.baseurl }}/team/{{m.name }}">{{ m.full_name }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	</section>

	<section class="hub-page-section">
		{% if wg.links %}
			<h1>Info</h1>
			<ul>
				{% for l in wg.links %}
					<li><a href="{{ l.url }}">{{ l.text }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	</section>
	
</div>
